* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

html { overflow-y: scroll; }
body { position: absolute; }

#header {
    padding: 0px 30px;
    display: flex;
    flex-direction: row-reverse;
    align-content: flex-end;
}

.menu-items {
    color: white;
    font-size: 15px;
    text-align: center;
    margin: 20px;
    font-family: "Poppins";
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    
}

.landing-page {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: radial-gradient(#111111, #111111);
    position: fixed;
}

#canvas1 {
    top: 50px;
    height: auto;
    width: auto;
    left: 0;
    opacity: 100%;
    
    position: fixed;
    z-index: -1;
}

#headline {
    margin: 100px;
    font-family: "Diavlo Medium";
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
    color: white;

    position: fixed;
    z-index: 1;
}